
.landing_container{
    background-image: url('./Images/dogger.png');
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.landingTitle {
    font-size: 8rem;
    text-align: left;
    margin-left: 7rem;
}

.landingH3 {
    font-size: 4rem;
    text-align: left;
    margin-left: 7rem;
}

.landingP {
    font-size: 2rem;
    text-align: left;
    margin-left: 7rem;
}