.divHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: space-around; */
}

.headerDiv {
    margin: 5px 25px;
    padding: 5px;;
    border-bottom: 5px groove #87a827;
}

.headerLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #a89227;
}

.headerLink:hover {
    color: #87a827;
}