.buyButton {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: rgb(31, 202, 31);
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    transition: background-color .3s;
    width: 150px;
} 

.buyInputs {
    width: 300px;
} 