.imagesContainer {
    max-width: 540px;
    width: 100%;
}

.selected {
    border: 4px solid purple;
    height: 300px;
    width: 300px;
}

.notSelected {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 0;
    width: 100%;
}

.notSelected img {
    cursor: pointer;
    height: 100px;
    margin: 5px 0;
    width: 100px;
}

.mainImg {
    float: left;
    height: 200px;
    margin-left: 100px;
    margin-top: 30px;
    width: 300px;
}

.infoContainer {
    margin-top: 150px;
    text-align: center;
}