.mainImg {
    border-radius: 10px;
    float: left;
    height: 300px;
    margin-left: 100px;
    margin-top: 70px;
    width: 300px;
}

.detailsBackground {
    background-image: url("./backgroundDetails1.jpg");
    font-family: "Segoe Print";
    height: 443px;
    object-fit: cover;
    text-align: center;
}

.infoContainer {
    color: white;
    padding-top: 80px; 
}

.price {
    color: rgb(28, 128, 28);
}

.name {
    text-decoration: underline;
}