.headerForm {
  background-color: rgb(0, 0, 0);
}

.createForm {
  background-image: url("./Img/backgroundDetails1.jpg");
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
